.table-wrapper {
    /* height: calc(100% - calc(calc(1.2*1.17rem) + var(--double-header-margin))); */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
}

.table-wrapper table {
    border-collapse: collapse;
    /* max-width: 50%; */
    /* max-height: 100%; */
    /* border:rgba(143, 143, 143, 1) 1px solid; */
    /* background-color: rgba(33, 33, 36, 1); */
    /* table-layout: fixed; */
    
    /* border-radius: 0.5rem; */
}

.table-wrapper th, td{
    /* padding: 0.5rem; */
    /* max-width: 100px; */
    min-width: 2rem;
    height: 2rem;

    /* border-radius: 0.5rem; */
    white-space: nowrap; /* Prevent content from wrapping */


}

.table-header {
    background-color: transparent;
    /* font-weight: bold; */
    /* border: rgba(143, 143, 143, 1) 1px solid; */
    /* color: white; */
    text-align: center;
    position: relative;
    overflow: hidden;
}

.value-true {
    background-color: rgba(66, 115, 43, 0.5);
    font-weight: bold;
    /* border: rgba(111, 131, 96, 1) 1px solid; */
    color: rgb(124, 213, 56)
}

.value-false {
    background-color: rgba(99, 36, 36, 0.5);
    font-weight: lighter;
    /* border: rgba(131, 96, 96, 1) 1px solid; */
    color: rgb(242, 95, 95);
}

.value-changed {
    background-color: rgba(43, 72, 115, 1);
    font-weight: bolder;
    /* border: rgba(96, 106, 131, 1) 1px solid; */
    color: rgb(255, 255, 255);
}

.column-changed {

    border-left: rgba(96, 106, 131, 1) 1px solid;
    border-right: rgba(96, 106, 131, 1) 1px solid;
    position:relative;
    /* z-index: 1; */
}

.table-header p {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
    /* height: calc(100%-0.25rem); */
    width: 100%;
    top: 0.25em;
    left:0;
    margin: 0;

}

.column-changed::before {
    content: '';
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left: 0;
    z-index: 0;
    background-color: rgba(43, 72, 115, 0.3);
}


.row-changed {
    background-color: rgba(43, 72, 115, 0.5);

    border-top: rgba(96, 106, 131, 1) 1px solid;
    border-bottom: rgba(96, 106, 131, 1) 1px solid;
    color: white;

}